<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Matan :: {% block title %}{% endblock %}</title>
</head>
<body>
    <font>
        <h1>{% block header %}{% endblock %}</h1>
    </font>
    <hr>
    <main>
        {% block main %}{% endblock %}
    </main>
    <form>
   <p><input type="button" value=" Заказать работу "></p>
  </form>
    <hr>
    <footer>
        <p>(C) Roman Makarov 2020</p>
        <p><a href="mailto:vyshka1980@mail.ru">email</a></p>
        <p><a href="https://t.me/makarr_off">telegram</a></p>
    </footer>
</body>
</html>